<div class="hero-card d-flex position-relative justify-content-between col-12 col-lg-6 ms-lg-auto">
  <span
    class="d-none d-xl-block position-absolute bottom-0 end-0 transform translate-x-16 translate-y-16 w-32 h-32 bg-warning opacity-60 rounded-circle filter blur-50"></span>
  <div class="horizontal-card container">
    <div class="row w-full rounded-none">
      <div class="col">
        <img class="w-full rounded-3"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcqeiGtwQkIf4RgaB7TCbDXdrg4P4EjWz4Sw&s"
          alt="horizontal-card">
      </div>
    </div>
    <div class="row w-full mt-4 rounded-none">
      <div class="col">
        <img class="w-full rounded-3"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwaM18Kgs9DvEOgVC6OoXrOrrPZvh5HLnbpw&s"
          alt="horizontal-card">
      </div>
    </div>
  </div>
  <div class="vertical-card w-2/4">
    <img class="w-full h-full rounded-3"
      src="https://media.istockphoto.com/id/856794602/photo/beautiful-living-room-interior-with-tall-vaulted-ceiling-loft-area-hardwood-floors-and.jpg?s=612x612&w=0&k=20&c=SASxxU6wuSAk-WDbVEuNNX5vnG3ExTJlllW8C-bNl7M="
      alt="vertical-card">
  </div>

</div>