/* Global Typography */
body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.search-container {
    position: relative;
}

.search-container {
    margin-top: 20px;
}

.search-form {
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: .375rem;    ;
    height: 3rem;
    overflow: hidden;
}

#search-input {
    border: none;
    padding: 10px;
    outline: none;
    flex-grow: 1;
}


#search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

#search-button {
    background-color: orange; /* Set the background color to orange */
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px; /* Set a fixed width */
    height: 45px; /* Set a fixed height */
}

#search-button svg {
    stroke: #fff;
}

#suggestions-container {
    position: absolute;
    /* Position absolutely relative to the search-container */
    top: 100%;
    /* Place directly below the input field */
    left: 0;
    right: 0;
    /* Span the width of the input field */
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 1000;
    /* Ensure it appears above other content */
    max-height: 300px;
    /* Set a maximum height */
    overflow-y: auto;
    /* Add vertical scroll if needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow */
    border-radius: 4px;
    /* Rounded corners */
    display: none;
    /* Initially hidden */
}

.suggestion-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.suggestion-item:last-child {
    border-bottom: none;
    /* Remove border from the last item */
}

.no-matches {
    padding: 10px;
    color: #999;
}

.photo-card-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider-container {
    display: flex;
    transition: transform 1s linear;
}

.slides {
    display: flex;
    width: 200%; /* 100% * 2 (original set + cloned set) */
}

.slides img {
    flex: 0 0 12.5%; /* 100% / (number of images * 2) */
    width: 12.5%; /* 100% / (number of images * 2) */
    height: auto;
}

.photo-card-slider {
    width: 100%;
    overflow: hidden;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
  }