<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}FastBnB{% endblock %}</title>
    <link href="../static/index.css" rel="stylesheet">
    <link href="https://unpkg.com/@webpixels/css@1.2.6/dist/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="../static/index.js"></script>
    <script src="../static/slider.js"></script>
</body>
</html>
