<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="../static/images/logo.jpg" class="h-10" alt="logo">
    </a>
      <div class="text-lg mx-1 d-none d-lg-block"></div>
      <a class="text-xl" style="color: orange; background-color: white;">Fastbnb</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <a class="nav-item nav-link active" href="#" aria-current="page">Home</a>
        <a class="nav-item nav-link" href="/rent">Rent</a>
        <a class="nav-item nav-link" href="#">Contact Us</a>
      </div>
      <!-- Right navigation -->
      <div class="navbar-nav ms-lg-4">
        <a class="nav-item nav-link" href="/login" style="color: inherit;">Sign in</a>
      </div>
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a  class="btn btn-sm btn-primary w-full w-lg-auto" style="color: white; background-color: orange;border-color: orange;" href="/register">
          Register
        </a>
      </div>
    </div>
  </div>
</nav>